<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startech</title>
    <link rel="stylesheet" type="text/css" href="styleStartech.css">
</head>
<body>
    <div class="container">
        <div class="titulo">
            <p>STARTECH</p>
        </div>
        <hr id="linha">
        <div class="botoes">
            <input type="submit" value="Remover" id="Remover">
            <input type="submit" value="Adicionar" id="Adicionar">
            <input type="submit" value="Atualizar" id="Atualizar">
            <input type="submit" value="Filtrar" id="Filtrar">
        </div>
        <div class="tabela">
            <table>
                <tr> 
                    <td>Produtos</td>
                    <td>Quantidade</td>
                    <td>Data</td>
                </tr>
                <tr> 
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> 
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> 
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr> 
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>          
            </table>
        </div>
    </div>
</body>
</html>